var JSG = (function() {
    'use strict';
        
    %CODE%

    var _exports = { Expr: Expr };
    
    // Support node's modules
    if(typeof module != 'undefined' && module.exports)
        module.exports = _exports;
    
    return _exports;
})();